<template name="RecipesInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> RecipesInsertForm}}
	</div>
</template>

<template name="RecipesInsertForm">
	 {{#autoForm collection="Recipes" id="insertRecipesForm" type="insert"}} {{> afQuickField name='name'}}
	<div id="recipes-insert-form" class="">
		<h2 id="component-title">
			New Recipe
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">

				<label for="name">
					Név
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description">
					Elkészítés
				</label>
				<div class="input-div">
					<input type="text" name="description" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-tag">
				<label for="tag">
					Tags
				</label>
				<div class="input-div">
					<select multiple="multiple" data-role="tagsinput" class="form-control " name="tag" data-type="array">
						{{#each getArray ""}}
						<option id="form-input-tags-item" value="{{this}}">							{{this}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-coverimg">
				<label for="coverimg">
					Borítókép
				</label>
				<div class="input-div">
					<input type="file" id="field-coverimg" class="file " multiple="false" data-show-upload="false" data-show-caption="true" data-field="coverimg">
					<input type="hidden" name="coverimg" value="">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-cover_container">
				<label for="cover_container">
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-cover_container">
					</p>
				</div>
			</div>
			<div class="form-group  field-picker">
				<label for="picker">
				</label>
				<div class="input-div">
					<select multiple="multiple" class="form-control " name="picker" data-type="array">
						{{#each file_list}}
						<option value="{{url}}">							{{name}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>

			<div class="form-group  field-publicpost">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="" name="publicpost" data-type="bool">
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
				 {{/autoForm}}
</template>
